name: GoTests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-go:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-go@v5
        with:
          go-version: 1.22.8
      - name: Install gotestsum
        shell: bash
        run: go install gotest.tools/gotestsum@latest
      - name: Run tests
        run: gotestsum ./...